* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 20%;
  border: 1px solid black;
  padding: 4px;
  text-align: center;
}

